body,
html{
    margin:0;
    padding:0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
canvas{
    left: 50%;
    top:50%;
    margin-left: -512px;
    margin-top: -384px;
    display: block;
    position: absolute;
    border: 2px solid white;
    opacity:0;
    max-width: 1024px;
    max-height: 768px;
    width: auto;
    height: auto;
}
.intro{
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    top:50%;
    margin-top: -384px;
}
.play,
.loser{
    position: absolute;
    top: 73%;
    left: 50%;
    margin-left: -122px; 
    width: 244px;
    height: 81px;
    cursor: pointer;
}
.loser{
    display: none;
    opacity: 0;
}




